<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css" />
</head>

<body ng-app="cdcAPP">
    <div ng-controller="documentListController as vm" layout="column">
        <ng-include src="'./partials/_nav.html'"></ng-include>
        <md-input-container>
            <label>Directory Path</label>
            <input ng-model="vm.path">
        </md-input-container>
        <md-input-container ng-show="vm.tempList.length > 0">
            <label>Contains</label>
            <input ng-model="vm.contains" ng-change="vm.containsChange()">
        </md-input-container>
        <md-chips ng-show="vm.tempList.length > 0" ng-model="vm.tempExtensionList" name="extensionList" readonly="false" ng-change="vm.listChange()"
            md-removable="true" md-max-chips="5">
            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in vm.getExtlist()" md-item-text="item.display">
                <span md-highlight-text="searchText">{{item}}</span>
                <md-not-found>
                    No matches found.
                </md-not-found>
            </md-autocomplete>
            <md-chip-template>
                <strong>{{$chip}}</strong>
            </md-chip-template>
        </md-chips>
        <md-button class="md-primary md-raised" ng-click="vm.getDocumentsList()">Get list of documents</md-button>
        <md-button ng-show="vm.tempList.length > 0" class="md-primary md-raised" ng-click="vm.saveList()">Save list as an Excel file</md-button>
        <div layout="row">
            <div ng-show="vm.tempList.length > 0" flex="{{vm.selectedList.length > 0 ? 66 : 100}}">
                <h4>{{vm.tempList.length}} {{vm.tempList.length == 1 ? "file" : "files"}} found</h4>
            </div>
            <div ng-show="vm.selectedList.length > 0" flex="{{vm.selectedList.length > 0 ? 33 : 0}}">
                <h4>{{vm.selectedList.length}} {{vm.selectedList.length == 1 ? "file" : "files"}} included in the list</h4>
            </div>
        </div>

        <div layout="row">
            <div flex="{{vm.selectedList.length > 0 ? 66: 100}}">
                <md-button class="md-raised md-primary" ng-click="vm.selectCurrentList()">
                    <md-icon md-font-icon="fas fa-clipboard-check"></md-icon> Select current filter
                </md-button>
            </div>

            <div layout="row" ng-show="vm.selectedList.length > 0" flex="{{vm.selectedList.length > 0 ? 33 : 0}}">
                <h3>Selected List</h3>
                <span flex></span>
                <md-button class="md-fab md-mini md-warn" ng-click="vm.clearAll()">
                    <md-tooltip md-direction="top">Clear all</md-tooltip>
                    <md-icon md-font-icon="fas fa-times"></md-icon>
                </md-button>
            </div>
        </div>
        <div layout="row">
            <md-list flex="{{vm.selectedList.length > 0 ? 66 : 100}}">
                <md-list-item layout="row" ng-repeat="file in vm.tempList ">
                    <md-button class="md-fab md-mini" ng-disabled="true">
                        <md-icon md-font-icon="{{file.icon}}"></md-icon>
                    </md-button>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ file.name }}</h3>
                    </div>
                    <span flex></span>
                    <md-button class="md-raised md-primary" ng-click="vm.openFile(file)">
                        <md-icon md-font-icon="fas fa-external-link-square-alt"></md-icon> Open
                    </md-button>
                    <md-button ng-click="vm.renameFile(file)">
                        <md-icon md-font-icon="fas fa-pencil-alt"></md-icon> Rename
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="vm.addFile(file)">
                        <md-icon md-font-icon="fas fa-plus"></md-icon> ADD
                    </md-button>
                </md-list-item>
            </md-list>
            <div flex="{{vm.selectedList.length > 0 ? 33 : 0}}" layout="column">

                <md-list>
                    <md-list-item layout="row" ng-repeat="selectedFile in vm.selectedList ">
                        <md-button class="md-fab md-mini" ng-disabled="true">
                            <md-icon md-font-icon="{{selectedFile.icon}}"></md-icon>
                        </md-button>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ selectedFile.name }}</h3>
                        </div>
                        <span flex></span>
                        <md-button class="md-fab md-mini md-warn" ng-click="vm.removeElement(selectedFile)">
                            <md-tooltip md-direction="top">Remove</md-tooltip>
                            <md-icon md-font-icon="fas fa-trash-alt"></md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>

        </div>

    </div>
    <ng-include src="'_scripts.html'"></ng-include>
    <script src="../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>
    <script src="./js/app/app.js"></script>
    <script src="./js/app/controllers/documentListController.js"></script>
    <!-- <script src=".../node_modules/@fortawesome/fontawesome/index.js"></script> -->
</body>

</html>