<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Documents!</title>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
  </head>
  <body ng-app="cdcAPP">
    <div layout='column' ng-controller="indexCtrl as index" class="ng-cloak">
      <h1>Documents Preparation</h1>
      <div layout="row" layout-sm="column" layout-align="space-around" ng-show="index.load">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <md-content>
        <md-list flex >
         <md-list-item ng-repeat='button in index.validationSteps'>
            <span>{{$index + 1}}</span> <md-button class="md-raised" ng-click="button.action()">{{button.buttonValue}}</md-button>
          </md-list-item>
        </md-list>
      </md-content>
        
          <md-button  class="md-raised" ng-click="index.assignorList()">assignorList</md-button>
        
        <!-- All of the Node.js APIs are available in this renderer process. -->
        <!-- We are using Node.js <script>document.write(process.versions.node)</script>,
        Chromium <script>document.write(process.versions.chrome)</script>,
        and Electron <script>document.write(process.versions.electron)</script>. -->
    </div>
    <script>
      // You can also require other files to run in this process
      require('../renderer.js')
    </script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script> 
    <script src="../node_modules/angular-animate/angular-animate.js"></script> 
    <script src="../node_modules/angular-material/angular-material.js"></script>    
    <script src="./js/app/app.js"></script> 
    <script src="./js/index.js"></script>    
    <script src="./js/importMatrix.js"></script>    
    <script src="./js/createAssignorList.js"></script> 
    <script src="./js/createFolders.js"></script>   
    <script src="./js/validateData.js"></script>   
    <script src="./js/app/controllers/indexController.js"></script> 
  </body>
</html>
    
