<md-dialog aria-label="save">
    <form style="width: 58vw;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Save list as Excel</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="fas fa-times" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px; max-height:810px; overflow-x: hidden; padding: 5px;">
            <div layout="column">
                <md-input-container flex>
                    <label>File name</label>
                    <input ng-model="saveParameters.name">
                </md-input-container>
                <md-input-container>
                    <label>Save in (path)</label>
                    <input ng-model="saveParameters.path">
                </md-input-container>                
            </div>

        </md-dialog-content>
        <md-dialog-actions layout="row">
                <md-button layout-align="center center" class="md-primary md-raised" ng-click="save()">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>